@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar__list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  color: rgb(173, 173, 173);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 60px;
}

.header {
  display: flex;
  background-color: #2d3142;
  color: white;
  height: 60px;
}

.navbar__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover{
  color: #ffffff;
  font-weight: 600;
}

.header h1 {
  padding: 5px;
}

.navbar {
  padding-left: 2vw;
}