@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html {
height: 100%;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  margin: 0px;
  height: 60px;
}

.user__link a {
  width: 6vw;
}

.user__link {
  text-decoration: none;
  color: rgb(218, 217, 217);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 60px;
}

.header {
  display: flex;
  height: 60px;
}

.header_light {
  background-color: #f5d6d3;
  color: rgb(0, 0, 0);
}

.header_dark {
  background-color: #7ca4be;
  color: #050505;
}

.nav__link:hover{
  color: #050505;
  font-weight: 600;
}

.header h1 {
  padding: 5px;
}

#userOptions:hover {
  color: #050505;
  font-weight: 600;
}

.navbar {
  width: 100%; 
}

.navbar__list-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


#userOptions {
  all: unset;
  cursor: pointer;
  height: 60px;
  width: 100%;
  text-align: center;
}

.subscriptions {
  width: 100%;
  height: 75vh;
  display: flex;
  padding-bottom: 10px;;
  justify-content: center;
}

.user__input {
  margin-top: 30vh;
  width: 50vw;
}

.user__input-options {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

#myInput {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#myInput:focus {
  border: 3px solid #555;
}

#subscriptionValue {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#subscriptionValue:focus {
  border: 3px solid #555;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#addSubscription {
  background-color: #8daeb6; /* Green */
  border: none;
  color: white;
  margin: 8px 8px;
  padding: 13px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#addSubscription:hover {
  background-color: #75a877; /* Green */
  color: white;
}

.main {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  height: 100%;
}

.dashboard__body{
  height: 75vh;
}

main {
  padding-bottom: 10px;
}

.signin__info {
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-bottom: 3vh;
}

.signin__form-expand {
  height: 4vh;
}

.signin__form-label {
  width: 100%;
  margin-left:6%;
  
}

.signin__form-input {
  width: 83%;
  margin-right: 6%;
  margin-bottom: 15px;
  margin-top: 3px;
  margin-left: 6%;
  border: 2px solid rgb(211, 211, 211);
  background-color: #f8e5e4;
  padding: 12px; 
  height: 15px; 
  outline: none;
}

.signin__form-terms {
  text-align: center;
}

.signin__wrapper {
  padding-top: 30px;
  background-color: #f8e5e4;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(129, 127, 127, 0.2);
  width: 25%;
}

.signin {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 732px;
}

.signin__form input:focus:invalid {
  border: 2px solid rgb(175, 30, 30);
}

.signin__info span {
  color: rgb(99, 98, 98);
}

.signin__form-checkbox {
  width: 100%;
  margin-left: 6%;
  display: flex;
}

.signin__form-checkbox label {
  margin-left: 1%;
}

.signin__form-checkbox a {
  margin-left: 26%;
}

.signin__form-btn {
  width: 89%;
  margin-right: 5%;
  margin-left: 6%;
  margin-top: 10px;
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: .2s all ease-in-out;
  border-bottom: 2px solid transparent;
  border: 2px solid transparent;
  background: rgb(226, 102, 143);
  letter-spacing: 2px;
  color: white;
}

.signin__form-btn:hover {
  background-color: #f8e5e4;
  border-bottom: 2px solid;
  color: rgb(226, 102, 143);
}

.signin__form-continue {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.2rem;
  align-items: center;
  padding-right: 6%;
  padding-left: 6%;
  margin-top: 20px;
}

.signin__form-continue:before{
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(187, 187, 187, 0.76);
}

.signin__form-continue:after{
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(187, 187, 187, 0.76);
}

.signin__form-altlogins {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.signin__form-altlogins button {
  border: none;
  width: 40%;
  color: rgb(14, 14, 14);
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 2px solid rgb(211, 211, 211);
}

div.steelBlueCols {
  background-color: #ffffff;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
}

.divTableWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75%;
  overflow-y: auto;
}

.divTable.steelBlueCols .divTableCell, .divTable.steelBlueCols .divTableHead {
  padding: 5px 10px;
}
.divTable.steelBlueCols .divTableBody .divTableCell {
  font-size: 16px;
  text-align: left;
}

body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

.divTable.steelBlueCols .divTableHeading {
  background: #ffffff;
}

.divtableTitle {
  text-transform: uppercase;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.473);
  padding-bottom: 5px;
}
.divTable.steelBlueCols .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
}
.divTable.steelBlueCols .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.steelBlueCols .tableFootStyle {
  font-size: 13px;
}
.steelBlueCols .tableFootStyle .links {
	 text-align: right;
}
.steelBlueCols .tableFootStyle .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  border-radius: 5px;
}
.steelBlueCols.outerTableFooter {
  border-top: none;
}
.steelBlueCols.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}

.divTableCell {
  width: 25%;
  border-bottom: 0.1rem solid rgb(224, 224, 224);;
}

.divTable{ display: table; }
.divTableRow { display: flex; 
}
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.summary__info {
  padding-right: 7%;
  padding-left: 7%;
  text-align: center;
}

.deleteBtn {
  height: 24px;
}

.divTableCell-btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.divTableCell-btn button {
  all: unset;
  cursor: pointer;
}

.divtableTitle img {
  height: 25px;
  margin-left: 5px;

}

.divtableTitle button {
  /* all: unset;
  cursor: pointer;
  text-transform: none;
  display: flex;
  align-items: flex-end; */
}

/* .divTableTitle {
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.open-button {
  padding: 10px 45px;
  background: #c0dfce;;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
}


.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.navbar__user-hidden {
  text-align: center;
  background-color: white;
  margin-right: 0;
  display: none;
  z-index: 2;
  border-radius: 6px;
  border: 1px solid transparent
}

.user__link:hover {
  font-weight: 600;
}

.navbar__user-hidden a {
  color: black;
}

.deleteBtn button{
  position: absolute;
  z-index: 2;
}

.modal__form-containers {
  display: flex;
}

.modal {
  width: 770px;
  background: white;
  height: 440px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 0 30px 30px;
  text-align: center;
  z-index: 10;
  text-transform: none;
  color: black;
}

.modal__header{
  display: flex;
  align-content: flex-end;
}

.modal__header-title {
  padding-top: 20px;
  font-weight: 1000;
  text-align: left;
  width: 800px;
}

.modal__header-buttons {
  display: flex;
  gap: 10px;
  
}

.modal__header-buttons button {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  line-height: 20px;
  list-style: none;
  padding: 4px 10px;
  margin-top: 10px;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  
} 

#nightMode {
  all: unset;
  width: 100%;
  height: 100%;
}

.modal__form input:focus:invalid {
  border: 1px solid rgb(255, 54, 54);
  margin: 0px;
}

.modal__form select:focus:invalid {
  border: 1px solid rgb(255, 54, 54);
  margin: 0px;
}

.modal__form input{
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15) ;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
}

select {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
}

#frequency {
  width: 17vw;
}

#renewalDateInput {
  width: 175px;
}

#subNotes {
  resize: none;
  font-size: 0.9em;
}

.contact__form input:focus:invalid {
  border: 2px solid rgb(175, 30, 30);
  margin: 0px;
}

#submitSubscription {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  height: 15%;
  width: 25%;
  align-self: last baseline;
}

.modal__form-label {
  font-size: 0.9em;
}

.modal__form-containers {
  display: flex;
  gap: 2vw;
  width: 100%;
}

#subName {
  width: 28vw;
}

.modal__form-sections {
  display: flex;
  flex-direction: column;
  text-transform: none;
  text-align: left;
  padding-top: 2vh;
}

#cost {
  width: 7vw;
}

.confirmation {
  width: 20%;
  background: white;
  height: 95px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 0;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  z-index: 10;
  background-color: white;
  text-transform: none;
}

.confirmation.active {
  transform: translate(-50%, -50%) scale(1);
}

.confirmation__buttons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.confirmation__buttons button {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
}

#confirmDelete {
  background-color: #c0dfce;
}

.hidden {
  display: none;
}

footer {
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  font-size: 0.9rem;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
  right: 0;bottom:0;left:0;
  width: 100%;
}

.footer_light {
  background-color: #936e75;
}

.footer_dark {
  background-color: #284763;
}

.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.contact__form {
  display: flex;
  flex-direction: column;
  padding: 39px 80px;
}

.contact__form-light {
  background-color: #f8e5e4;
}

.contact__form-dark {
  background-color: #b7c8da;
  color: rgb(0, 0, 0);
}

.contact__header-dark {
  background-color: #b7c8da;
  text-align: center;
  padding-top: 2%;
}

.contact__input-light {
  background-color: #f8e5e4;
}

.contact__input-dark {
  background-color: #b7c8da;
  color: rgb(0, 0, 0);
}

.contact__form-dark textarea{
  background-color: #b7c8da;
  color: rgb(0, 0, 0);
}

.contact__form-input {
  padding: 5px;
  border: 2px solid rgb(211, 211, 211);
  padding-left: 5px;
  outline: none;
}

.contact__form textarea {
  resize: none;
  font-size: 13px;
}

.contact {
  height: 75%;
  padding-bottom: 7%;
  padding-top: 1%;
}

.light_mode {
  background-image: url("landscape.jpg");
}

.contact__form-label {
  padding-top: 10px;
}

.contact__button-light {
  padding: 10px;
  margin-top: 20px;
  width: 120px;
  transition: .2s all ease-in-out;
  border-bottom: 2px solid transparent;
  border: 2px solid transparent;
  background: rgb(226, 102, 143);
  letter-spacing: 2px;
  color: white;
}

.contact__button-dark {
  padding: 10px;
  margin-top: 20px;
  width: 120px;
  transition: .2s all ease-in-out;
  border-bottom: 2px solid transparent;
  border: 2px solid transparent;
  background-color: #345f82;
  letter-spacing: 2px;
  color: white;
}

.contact__button-light:hover {
  background: #f8e5e4;
  border-bottom: 2px solid;
  color: rgb(226, 102, 143);
}

.contact__button-dark:hover {
  background: #f8e5e4;
  border-bottom: 2px solid;
  color: #345f82;

}

.contact__header-light {
  background-color: #f8e5e4;
  text-align: center;
  padding-top: 2%;
}

.flex__right {
  display: flex;
  justify-content: right;
}

.dark-mode {
  background-color: white;
  background-image: url("dark_landscape.jpg") !important;
  background-size: auto 100%;
  color: black !important;
}

.conditions {
  width: 45%;
  padding: 1% 2% 2% 2%;
  margin-bottom: 2%;
  height: 100%;
}

.conditions__light {
  background: #f8e5e4;
}

.conditions__dark {
  background: #b7c8da;;
}